body {
    background-color: rgb(134, 72, 43);
    cursor: default;
}

li {
    list-style-type: none;
}

.wrap {
    height: 98vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgb(63, 41, 15) 33%, rgba(113,74,26,1) 66%, rgba(191,144,43,1) 100%);
}

.title {
    color: #fff;
    font-size: 48px;
    font-family: 'Rubik Doodle Shadow', system-ui;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/backgraunds/forest_bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 80%;
    height: 80%;
    border: 5px solid rgb(134, 72, 43);
    position: relative;
    z-index: 1;
}

.knight {
    position: absolute;
    top: 65%;
    left: 30%;
    min-width: 80px;
    animation: bounceKnight 3s ease-in-out infinite;
}

.monsters {
    display: block;
}

.wolf {
    position: absolute;
    top: 55%;
    right: 30%;
    animation: bounceMonster 5s ease-in-out infinite;
    min-width: 120px;
    display: none;
}

.goblin {
    position: absolute;
    top: 65%;
    right: 35%;
    animation: bounceMonster 5s ease-in-out infinite;
    min-width: 90px;
    display: none;
}

.skeleton{
    position: absolute;
    top: 65%;
    right: 35%;
    animation: bounceMonster 5s ease-in-out infinite;
    min-width: 120px;
    display: none;
}

.cerber {
    position: absolute;
    top: 60%;
    right: 15%;
    animation: bounceMonster 5s ease-in-out infinite;
    min-width: 120px;
    display: none;
}

.dragon {
    position: absolute;
    top: 45%;
    right: 15%;
    animation: bounceMonster 5s ease-in-out infinite;
    min-width: 120px;
    display: none;
}

.inventory {
    display: none;
    border: 5px solid #945100;
    background-color: rgb(255, 200, 134);
    padding: 0;
    position: absolute;
    bottom: 8%;
    left: 6%;
}

.inv-box {
    width: 60px;
    height: 60px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.inv-box img {
    width: 60px;
    transform: rotate(-45deg);
}

.inv-box .empty {
    transform: none;
}

.stick {
    display: none;
}

.dager {
    display: none;
}

.sword {
    display: none;
}

.controls-list {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 5%;
    padding: 0;
}

.controls-list button {
    display: block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(134, 72, 43);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'DotGothic16', sans-serif;
}

.controls-list button:hover {
    border-color: #f28705;
    background-color: #945100;
}

.controls-list #button3,#button4,#button5,#button6 {
    display: none;
}

.status-list{
    display: flex;
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.status-list li {
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'DotGothic16', sans-serif;
}

.status-list li span {
    font-weight: 800;
    
}

.message-area {
    display: inline-block;
    border: 5px solid #f28705;
    background-color: #945100;
    padding: 0 15px;
    margin-top: 10px;
}

.message{
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
    animation: typing 3s steps(40), blinckCursor .7s step-end infinite;
}

@keyframes bounceKnight {
    0% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-10px) translateX(30px);
    }
    50% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
}

@keyframes bounceMonster {
    0% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-7px) translateX(-30px);
    }
    50% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinckCursor {
    50% {
        border-color: transparent;
    }
}