body {
    background-color: rgb(134, 72, 43);
    cursor: default;
}

li {
    list-style-type: none;
}

.hiden {
    visibility: hidden;
}

.wrap {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0deg, rgb(63, 41, 15) 33%, rgba(113,74,26,1) 66%, rgba(191,144,43,1) 100%);
}

.title {
    color: #fff;
    font-size: 48px;
    font-family: 'Rubik Doodle Shadow', system-ui;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/backgraunds/forest_bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 80%;
    max-width: 1130px;
    /* min-height: 50vh; */
    height: 750px;
    border: 5px solid rgb(134, 72, 43);
    position: relative;
    z-index: 1;
    transition: all 1s ease;
}

.win-game {
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: 9;
    border: 5px solid #f28705;
    background-color: #945100;
    top: 2%;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease;
}

.win-game-title{
    color: bisque;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 48px;
}

.win-game-button {
    padding: 5px 10px;
    border: 4px solid #f28705;
    background-color: #945100;
    color: bisque;
    font-family: 'DotGothic16', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.knight {
    position: absolute;
    top: 65%;
    left: 30%;
    width: 10%;
    min-width: 80px;
    animation: bounceKnight 3s ease-in-out infinite;
    transition: all 2s ease;
}

.monsters {
    display: block;
}

.target-monster {
    display: none;
}

.wolf {
    position: absolute;
    top: 55%;
    right: 30%;
    animation: bounceMonster 5s ease-in-out infinite;
    width: 20%;
    min-width: 120px;
    transition: all .5s;
}

.goblin {
    position: absolute;
    top: 65%;
    right: 35%;
    animation: bounceMonster 5s ease-in-out infinite;
    width: 6%;
    min-width: 90px;
}

.skeleton{
    position: absolute;
    top: 65%;
    right: 35%;
    animation: bounceMonster 5s ease-in-out infinite;
    width: 8%;
    min-width: 120px;
}

.cerber {
    position: absolute;
    top: 60%;
    right: 15%;
    animation: bounceMonster 5s ease-in-out infinite;
    width: 30%;
    min-width: 120px;
}

.dragon {
    position: absolute;
    top: 45%;
    right: 15%;
    animation: bounceMonster 5s ease-in-out infinite;
    width: 25%;
    min-width: 120px;
}

#monsterStats {
    border: 5px solid #f28705;
    background-color: #945100;
    display: flex;
    color: #fff;
    position: absolute;
    padding: 0;
    right: 55px;
    bottom: 50px;
    display: none;
}
.inventory {
    display: none;
    border: 5px solid #945100;
    background-color: rgb(255, 200, 134);
    padding: 0;
    position: absolute;
    bottom: 15%;
    left: 6%;
}

.inv-box {
    width: 60px;
    height: 60px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.inv-box img {
    width: 60px;
}

.stick {
    display: none;
}

.dager {
    display: none;
}

.sword {
    display: none;
}

.controls-list {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50px;
    padding: 0;
}

.controls-list button {
    display: block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(134, 72, 43);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'DotGothic16', sans-serif;
}

.controls-list button:hover {
    border-color: #f28705;
    background-color: #945100;
}

.controls-list #button3,#button4,#button5,#button6 {
    display: none;
}

.status-list{
    border: 5px solid #f28705;
    background-color: #945100;
    display: flex;
    color: #fff;
    position: absolute;
    padding: 0;
    left: 55px;
    bottom: 50px;
}

.status-list li, #monsterStats li {
    border: 4px solid rgb(92, 50, 30);
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    font-family: 'DotGothic16', sans-serif;
}

.status-list li:not(:last-child), #monsterStats li:not(:last-child) {
    border-right: none;
}

.status-list li p, #monsterStats li p {
    margin: 5px;
}

.status-list span, #monsterStats span {
    font-weight: 800;
}

.message-area {
    display: inline-block;
    border: 5px solid #f28705;
    background-color: #945100;
    padding: 0 15px;
    margin-top: 10px;
}

.message{
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
}

.animate-message {
    animation: typing 3s steps(40), blinckCursor .7s step-end infinite;
}

.created {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.link {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 300;
    color: #fff;
    padding-bottom: 4px;
    position: relative;
    transition: all 0.3s ease;
}

.link:hover,:focus {
    color: #f3b121;
}

.link::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #f3b121;
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease;
}:hover::after {
    transform: scaleX(1.3);
}

.link span {
    color: #f3b121;
}

.link:hover span {
    color: #fff;
}

@keyframes bounceKnight {
    0% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-10px) translateX(30px);
    }
    50% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
}

@keyframes bounceMonster {
    0% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-7px) translateX(-30px);
    }
    50% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinckCursor {
    50% {
        border-color: transparent;
    }
}

@keyframes defeatMonster {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes lose {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-90deg)
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: 70vh;
    }

    .title{
        font-size: 32px;
    }

    .knight {
    top: 70%;
    left: 10%;
}

    .wolf {
    top: 70%;
    right: 5%;
    width: 40%;
}

.goblin {
    position: absolute;
    top: 70%;
    right: 5%;
}

.skeleton{
    position: absolute;
    top: 70%;
    right: 5%;
}

.cerber {
    position: absolute;
    top: 70%;
    right: 5%;
    width: 50%;
}

.dragon {
    top: 55%;
    right: 5%;
    width: 55%;
}

#monsterStats {
    border: 3px;
    padding: 0;
    right: 60px;
    bottom: 15px;
}

.status-list{
    border: 1px solid #f28705;
    color: #fff;
    position: absolute;
    padding: 0;
    left: 0;
    bottom: -60px;
}

.status-list li, #monsterStats li {
    border: 1px solid rgb(92, 50, 30);
    font-weight: 500;
    font-size: 14px;
    font-family: 'DotGothic16', sans-serif;
}

.controls-list {
    left: 0;
    bottom: -15px;
}

.controls-list button {
    padding: 2px 4px;
    margin: 0 2px;
    font-size: 14px;
}

.inventory {
    border: 2px solid #945100;
    position: absolute;
    bottom: 5%;
    left: 1%;
}

.inv-box {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}


.inv-box img {
    width: 40px;
}

.message-area {
    border: 2px solid #f28705;
    padding: 0 5px;
    max-width: 90%;
}

.message{
    white-space: wrap;
}
}